html{
  height: 100%;
  box-sizing: border-box;
}
body{
  background-color: #ACA1C5;
  height: 200px;
  box-sizing: inherit;
}
.Logo{
  width: 333px;
  height: 22px;
  background-color: red;
}
.NavBar{
  display:flex;
  align-items: center;
  justify-content:center ;
 justify-content: space-between;
 margin: 0 auto;
  width: 1211px;
  height: 76px;
}
.NavBar ul{
  display: flex;
  text-decoration: none;
  width: 351px;
  height: 40PX;
  justify-content: space-around;
  align-items: center;
}
.NavBar li{
  color: azure;
  list-style: none;
}
#joinusbtn{
  color: azure;
  border-radius: 50px 0px 50px 0px;
  border: none;
  width: 132px;
  height:44px;
  
}
.fisrtpart{
  width: 800px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}


.promises{
  width: 700px;
  height: 449.47px;
  margin-left: 30px;
  margin-top: 0px;
  
}
.promises h1 {
color: azure;
font-size: 86px;
}
.promises p{
  color: azure;
  font-size: 24px;
  width: 830px;
}

.herosection img{
  margin-right: 100px;
  
}
#signinbtn{
  color: azure;
  background-color: #D9D9D9;
  border-radius: 50px 50px 50px 50px;
  width: 132px;
  height:44px;
  border: none; 
  margin-left: 10px;
  margin-bottom: 8px;
}
.JOInu1{
  background-color: #5cc44c71;
}
.JOInu2{
  background-color: #d2a140a0;
}
.fisrtpart{
  display: flex;
 
  width :auto;
}
.featured{
  
  margin-top: 80px;
}
.brands{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100px
}
.featured p{
  color: azure;
  font-size: 24px;
  margin-left: 30px;
}
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:64px;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 220px;
  
  bottom: 0;
  left:0;
  right: 0;
  
  background-color:#D9D9D9;
  margin-top:100px;

}
.socialmedia{
  display: flex;
}
.cards{
 
 margin: 30px auto;
 display: flex;
 flex-wrap: wrap;
 width: 900px;
 gap: 20px;
 height: auto;
 justify-content: space-around;
 justify-content: center;
}
.card{
  display: flex;
  width: 230px;
  height: 300px;
  border-radius: 23px;
  align-items: column;
}
.card button{
  margin-top:auto;
  align-self: flex-start;
  margin-left: 50px;
}
.card h1{
  color: #5cc44c71; ;
}
.login{
  background-color: rgba(205, 170, 188, 0);
  width: 400px;
  height: 500px;
  margin: 60px auto;
  border-radius: 30px; 
}
.signup{
  background-color: rgba(205, 170, 188, 0.053);
  width: 500px;
  height: 500px;
  margin: 60px auto;
  border-radius: 30px;
  
}
#herosectionphoto{
  margin-left:30px ;
}
 .form{
  margin: 0 auto;
}
select{
  border-radius: 5px;
  background-color: #d2a140a0;
  
}
.header2{
  width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: inherit;
}
.delete{
  background-color: rgba(250, 57, 57, 0.822);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  border-width: 0;
  color: azure; 
}
.deletebtn{
 width: 230px; 
 
 display: flex;
 justify-content: flex-end;

}













